{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"overrides": [
		{
			"files": ["test/**"],
			"plugins": ["vitest"],
			"extends": ["plugin:vitest/recommended"],
			"rules": {
				"vitest/consistent-test-it": ["error", { "fn": "test" }],
				"vitest/no-standalone-expect": "error",
				"vitest/no-test-return-statement": "error",
				"vitest/prefer-lowercase-title": "error"
			}
		}
	]
}
