{
	"root": true,
	"plugins": ["unicorn"],
	"extends": ["eslint:recommended", "plugin:unicorn/recommended", "prettier"],
	"rules": {
		"unicorn/no-useless-undefined": ["error", { "checkArguments": false }],
		"unicorn/text-encoding-identifier-case": 0
	},
	"overrides": [
		{
			"files": ["test/**"],
			"plugins": ["vitest"],
			"extends": ["plugin:vitest/recommended"],
			"rules": {
				"vitest/consistent-test-it": ["error", { "fn": "test" }],
				"vitest/no-standalone-expect": "error",
				"vitest/no-test-return-statement": "error",
				"vitest/prefer-lowercase-title": "error"
			}
		}
	]
}
